/* --- パズルCSSのインポート --- */
@import url("puzzles/system.css");
@import url("puzzles/rgb_btn.css");
@import url("puzzles/mimic.css");
@import url("puzzles/parasite.css");
@import url("puzzles/gyro.css");
@import url("puzzles/cable.css");
